$colorrojo:#fa5f49;
.tarjeta{
    background-color: #585858;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
    .tarjeta__img{
        width: 300px;
        height: 180px;
        margin-right: 30px;
    }
    .tarjeta__titulo{
        color: $colorrojo;
        font-size: 1.5rem;
        margin-bottom: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .tarjeta__parrafo{
        line-height: 28px;
        font-size: 1rem;
    }
    li{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
}